{% extends 'base_page.html' %}
{% block body %}
<h2>{{ the_title }}</h2>
<p>You submitted the following data:</p>
<table>
    <tr>
        <td>Phase:</td>
        <td>{{ the_phrase }}</td>
    </tr>
    <tr>
        <td>Letters:</td>
        <td>{{ the_letters }}</td>
    </tr>
</table>
<p>When "{{ the_phrase }}" is search for "{{ the_letters }}", the following result are returned:</p>
<h3>{{ the_results }}</h3>
{% endblock %}

