{% extends 'base_page.html' %}
{% block body %}
<h2> {{ the_title }}</h2>
<form method='POST' action='/result'>
    <table>
        <p>Use thos form to submit a search request:</p>
        <tr>
            <td>Phrase:</td>
            <td><input name='phrase' type='TEXT' width='60'></td>
        </tr>
        <tr>
            <td>Letters:</td>
            <td><input name='letters' type='TEXT' value='aeiou'></td>
        </tr>
    </table>
    <p>When You`re ready, click this button:</p>
    <p><input value='Do it!' type='SUBMIT'></p>
</form>
{% endblock %}
