{% extends 'base_page.html' %}
{% block body %}
<h2>This page with all logs</h2>
<table>
    <tr>
        <td>
            <form method='GET' action='/logsearch4'>
                <input type=SUBMIT value=Log_for_search4>
            </form>
        </td>
    </tr>
    <tr>
        <td>
            <form method='GET' action='/logtest1'>
                <input type=SUBMIT value=Log_for_test1>
            </form>
        </td>
    </tr>
</table>
{% endblock %}
