{% extends 'base_page.html' %}
{% block body %}
<h2>This is log</h2>
<table>
    <tr>
    {% for header in the_headers %}
        <td>{{ header }}</td>
    {% endfor %}
    </tr>
    {% for arr in the_log %}
    <tr>
        {% for itm in arr %}
        <td>{{ itm }}</td>
        {% endfor %}
    <tr>
    {% endfor %}
</table>
{% endblock %}
