{% extends 'base_page.html' %}
{% block body %}
<h2> {{ the_title }}</h2>
<form method='POST' action='/test1result'>
    <table>
        <p>Enter your name for start test</p>
        <tr>
            <td>Name:</td>
            <td><input name='name' type='TEXT' width='60'></td>
        </tr>
    </table>
    <p>When You`re ready, click this button:</p>
    <p><input value='Do it!' type='SUBMIT'></p>
</form>
{% endblock %}
