<!doctype html>
<html>
    <head>
        <title>{{ the_title }}</title>
        <link rel="stylesheet" href="static/hf.css" />
    </head>
    <body>
        <h1>This text from base</h1>
        <table>
        <tr>
            <td>
                <form method='GET' action='/loghome'>
                    <input type=SUBMIT value=Log>
                </form>
            </td>
            <td>
                <form method='GET' action='/search4'>
                    <input type=SUBMIT value=Search4>
                </form>
            </td>
            <td>
                <form method='GET' action='/test1'>
                    <input type=SUBMIT value=test1>
                </form>
            </td>
        </tr>
        </table>
        {% block body %}
        
        {% endblock %}
    </body>
</html>
