<!doctype html>
<html>
    <head>
        <title>{{ the_title }}</title>
        <link rel="stylesheet" href="static/hf.css" />
    </head>
    <body>
        <h1>This from Base</h1>
        {% block body %}

        {% endblock %}
    </body>
</html>
