{% extends 'base_page.html' %}
{% block body %}
<h2> {{ the_title }}</h2>
<div>
    <table>
        <h3>This is home page</h3>
        <tr>
            <td>Click by random menu item</td>
        </tr>
    </table>
</div>
{% endblock %}
